{% extends 'base.html' %}

{% block topmenu %}
<div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
    <div class="bar__module" style="padding-top:1em">
        <ul class="menu-horizontal text-left">
            <li>
              <a href="#">
                  Servicen
              </a>
            </li>
            <li>
              <a href="#">
                  Pricen
              </a>
            </li>
            <li>
              <div class="modal-instance">
                <a class="modal-trigger" href="#" data-modal-index="3">
                    KONTAKT
                    <div class="modal-container" data-modal-index="4"style="top:5%; right:50%">
                      <div class="modal-content section-modal">
                        <section class="unpad ">
                          <div class="container">
                            <div class="row justify-content-center">
                              <div class="col-md-6 col-12">
                                <div class="feature feature-1">
                                  <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1"><canvas id="granim-0" width="100%" height="100%"></canvas>
                                        <div class="container">
                                            <div class="cta cta--horizontal">
                                              <h4><i class="fa fa-comment-alt"></i> <strong>Send os en Besked - vi svarer hurtigst muligt</strong></h4><br>
                                              </div>
                                              <form>
                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <input type="email" placeholder="Email">
                                                  </div>
                                                  <div class="col-md-12">
                                                      <textarea placeholder="besked"></textarea>
                                                  </div>
                                                  <div class="col-md-12 text-left">
                                                    <label for="kontakt_upload"><strong class="lead t-white">
                                                      <i class="fa fa-upload">Vedhaeft Fil</i></strong>
                                                    </label>
                                                      <input type="file" class="form-control" id="kontakt_upload">
                                                  </div>

                                                  <div class="col-md-12">
                                                      <button class="btn btn--primary type--uppercase" type="submit">Send</button>
                                                  </div>
                                                  <br><br>

                                                </div>

                                              </form>
                                          </div>
                                          <!--end of container-->
                                      </section>

                                  </div>
                              </div>
                              <!--end feature-->
                              </div>
                            </div>
                            <!--end of row-->
                          </div>
                          <!--end of container-->
                        </section>
                      </div>
                  </div>
                </a>
              </div>
            </li>
        </ul>
    </div>
    <div class="bar__module">
        <a class="btn btn--sm type--uppercase" href="{% url 'login' %}"> <span class="btn__text">
        Log Ind
    </span> </a>
        <a class="btn btn--sm btn--primary-2 type--uppercase" href="{% url 'register' %}"> <span class="btn__text">
        Opret Bruger
    </span> </a>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="bg--mid-blue space--xs text-center">
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-lg-10">
               <div class="cta">
                   <h2 class="t-white">Har du modtaget mail fra OS ?</h2>
                   <p class="text-center t-white lead">
                     Hvis du har modtaget et brev eller e-mail fra os, er det med al sandsynlighed fordi, at en virksomhed har bedt os kommunikere med dig, med henblik pat fderes tilgodehavende af dig.
                   </p>
                   <p class="text-center t-white lead">
                     Vi er nemme at tale med, shold dig endeligt ikke tilbage, hvis du har h rt fra os lad os tage dialogen, det er oftest nemmest og billigst.
                   </p>
                   <br><br>

                   <a class="btn btn--sm type--uppercase t-white" href="{% url 'kontakt' %}">

                          <span class="btn__text" style="color:white"> Laes Mere </span>
                   </a>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="space--xs text-center">
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-lg-10">
               <div class="cta">
                   <h2 class="mid-blue">Betal/afdrag</h2>
                   <p class="text-center lead">
                     Klik her og betal direkte igennem vores betalingssystem. Du kan b de betale med kort, MobilePay eller tilmelde dig PBS betaling, hvis du nsker at afdrage over en periode.
                   </p>

                   <br><br>
                   <a class="btn btn--sm btn--primary-2 type--uppercase" href="/betal/"> <span class="btn__text">
                      Betal
                  </span> </a>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="bg--dark-blue space--xs text-center">
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-lg-10">
               <div class="cta">
                   <h2 class="t-white">Kontakt</h2>
                   <p class="t-white text-center lead">
                     Hvis du har modtaget en e-mail eller brev vedrrende et krav mod dig, har du her mulighed for, at logge ind og g re indsigelse mod kravet. Vi gr dig opm rksom p, at indsigelsen kan afvises samt at det kan resultere i en retssag samt yderligere inkassoomkostninger, s fremt du dmmes til at betale kravet alligevel.
                   </p>

                   <br><br>
                   <a class="btn btn--sm btn--primary-1 type--uppercase" href="/login/"> <span class="btn__text">
                      Log Und
                  </span> </a>
               </div>
           </div>
       </div>
   </div>
</section>

{% endblock %}
